@model Certification_System.DTOViewModels.AddCourseViewModel

@{
    ViewBag.Title = "AddNewCourse";
}

<h2>Dodaj nowy kurs</h2>
<hr />

<div>
    <form asp-action="AddNewCourse">

        <div class="col-md-6 col-xl-6 col-sm-8 col-xs-10 m-auto p-3 shadow p-3 mb-5 bg-light rounded border border-primary rounded-bottom" style="opacity:0.80">

            <div class="form-group">
                <label asp-for="CourseIndexer" class="control-label"></label>
                <div>
                    <input asp-for="CourseIndexer" class="form-control col-12" />
                    <div class="row justify-content-center">
                        <span asp-validation-for="CourseIndexer" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <div>
                    <input asp-for="Name" class="form-control col-12" />
                    <div class="row justify-content-center">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <div>
                    <input asp-for="Description" class="form-control col-12" />
                    <div class="row justify-content-center">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="DateOfStart" class="control-label"></label>
                <div>
                    <div class='input-group date' id='DateOfStart'>
                        <input type='text' class="form-control col-12" name="DateOfStart" value="@DateTime.Now.ToShortDateString() @DateTime.Now.ToShortTimeString()" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar pl-1 pt-0.5" style="font-size:34px"></span>
                        </span>
                    </div>
                    <div class="row justify-content-center">
                        <span asp-validation-for="DateOfStart" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="DateOfEnd" class="control-label"></label>
                <div>
                    <div class='input-group date' id='DateOfEnd'>
                        <input type='text' class="form-control col-12" name="DateOfEnd" value="@DateTime.Now.AddDays(1).ToShortDateString() @DateTime.Now.ToShortTimeString()" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar pl-1 pt-0.5" style="font-size:34px"></span>
                        </span>
                    </div>
                    <div class="row justify-content-center">
                        <span asp-validation-for="DateOfEnd" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="EnrolledUsersLimit" class="control-label"></label>
                <div>
                    <input asp-for="EnrolledUsersLimit" class="form-control col-12" />
                    <div class="row justify-content-center">
                        <span asp-validation-for="EnrolledUsersLimit" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <input class="form-check-input" asp-for="CourseEnded" hidden />

            <div class="form-group">
                <label asp-for="CourseLength" class="control-label"></label>
                <div>
                    <input asp-for="CourseLength" class="form-control col-12" />
                    <div class="row justify-content-center">
                        <span asp-validation-for="CourseLength" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="AvailableBranches" class="control-label"></label>
                @*<div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">*@
                @*@foreach (var availableBranch in Model.AvailableBranches)
                    {*@
                @*<div id="checkbox-list">*@
                @*<label class="btn btn-outline-secondary m-2  @if (Model.SelectedBranches.Contains(availableBranch.Value)) { <text> active </text> }">
                        <input type="checkbox"
                               name="SelectedBranches"
                               value="@availableBranch.Value"
                               autocomplete="off"
                               @if (Model.SelectedBranches.Contains(availableBranch.Value)) { <text> checked </text> } />
                        <span>@availableBranch.Text</span>
                    </label>*@
                @*}
                    </div>*@
                @*@Html.ValidationMessageFor(model => model.SelectedBranches, "", new { @class = "text-danger" })
                    </div>*@
                <div>
                    <select asp-for="SelectedBranches" asp-items="@Model.AvailableBranches" data-style="btn-white" data-container="body" data-width="auto" data-header="Wybierz obszary certyfikacji" data-live-search="true" title="Nie wybrano żadnego elementu" class="form-control selectpicker show-tick w-100"> </select>
                    <div class="row justify-content-center">
                        <span asp-validation-for="SelectedBranches" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <div asp-validation-summary="ModelOnly" class="row justify-content-center alert alert-danger validation-model"></div>

            <div class="row justify-content-center">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>

        </div>

    </form>
</div>

<div class="mt-3">
    <a asp-action="DisplayAllCourses" asp-controller="Courses" class="btn btn-info">Powrót do listy wszystkich kursów</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        //$('#datetimepickercontrol').datetimepicker({
        //    format: 'DD.MM.YYYY HH:mm',
        //    locale: moment.locale('pl', {
        //        week: { dow: 1 }
        //    })
        //});

        var meetingNumber = 0;

        @*'@Url.Action("AddNewMeetingPartial", "Meetings", new { MeetingIdentificator = meetingNumber })'*@

        $("#loadPartialView").click(function () {

            var url = '@Html.Raw(@Url.Action("AddNewMeetingPartial", "Meetings"))' + '?MeetingIdentificator=' + meetingNumber;
            $.get(url, {}, function (response) {

            $("#meetingContainer").append(`<div name="meetingNumber${meetingNumber}></div>`).html(response);
            meetingNumber++;
        });
        });


        $(function () {
            $('#DateOfStart').datetimepicker({
                format: 'DD.MM.YYYY HH:mm',
                locale: moment.locale('pl', {
                    week: { dow: 1 }
                })
            });
            $('#DateOfEnd').datetimepicker({
                format: 'DD.MM.YYYY HH:mm',
                locale: moment.locale('pl', {
                    week: { dow: 1 }
                }),
                useCurrent: false
            });
            $("#DateOfStart").on("dp.change", function (e) {
                $('#DateOfEnd').data("DateTimePicker").minDate(e.date);
            });
            $("#DateOfEnd").on("dp.change", function (e) {
                $('#DateOfStart').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>
}
