@model Certification_System.DTOViewModels.DispenseGivenCertificatesViewModel

@{
    ViewData["Title"] = "EndCourseAndDispenseGivenCertificates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zamykanie kursu</h2>
<hr />

<div class="col-md-8 col-xl-6 col-lg-6 col-sm-12 col-xs-10 m-auto p-3 shadow p-3 mb-5 bg-light rounded border border-primary rounded-bottom" style="opacity:0.90">

    <h2>Informacje o kursie</h2>

    <div class="form-group">
        <label asp-for="CourseIndexer" class="control-label"></label>
        <input asp-for="CourseIndexer" class="form-control col-12" disabled />
    </div>

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control col-12" disabled />
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control col-12" style="width:100%; min-width:100%;" disabled></textarea>
    </div>

    <div class="form-group">
        <label asp-for="DateOfStart" class="control-label"></label>
        <input asp-for="DateOfStart" class="form-control col-12" disabled />
    </div>

    <div class="form-group">
        <label asp-for="DateOfEnd" class="control-label"></label>
        <input asp-for="DateOfEnd" class="form-control col-12" disabled />
    </div>

    <div class="form-group">
        <label asp-for="EnrolledUsersLimit" class="control-label"></label>
        <input asp-for="EnrolledUsersLimit" class="form-control col-12" disabled />
    </div>

    <div class="form-group">
        <label asp-for="EnrolledUsersQuantity" class="control-label"></label>
        <input asp-for="EnrolledUsersQuantity" class="form-control col-12" disabled />
    </div>

    <div class="form-group">
        <label asp-for="ExamIsRequired" class="control-label"></label>
        <div class="row pl-3">
            <input type="checkbox" asp-for="ExamIsRequired" class="form-control col-12" data-toggle="toggle" data-on="Tak" data-off="Nie" data-size="sm" disabled />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="CourseLength" class="control-label"></label>
        <input asp-for="CourseLength" class="form-control col-12" disabled />
    </div>

    <div class="form-group">
        <label asp-for="Branches" class="control-label col-12 p-0"></label>
        <div>
            <div class="btn-group btn-group-toggle row" data-toggle="buttons">
                @foreach (var branch in Model.Branches)
                {
                    <label class="btn btn-outline-secondary m-2 active">
                        <input type="checkbox"
                               name="SelectedBranches"
                               value="@branch"
                               autocomplete="off"
                               disabled
                               checked />
                        <span>@branch</span>
                    </label>
                }
            </div>
        </div>
    </div>

</div>

<h2 class="mt-4 mb-4">Uczestnicy kursu</h2>

<form asp-action="EndCourseAndDispenseGivenCertificates">

    <input asp-for="CourseIdentificator" class="form-control col-12" hidden />
    <input asp-for="CourseIndexer" class="form-control col-12" hidden />
    <input asp-for="Branches" class="form-control col-12" hidden />
    <input asp-for="CourseLength" class="form-control col-12" hidden />
    <input asp-for="Name" class="form-control col-12" hidden />
    <input asp-for="DateOfEnd" class="form-control col-12" hidden />
    <input asp-for="DateOfStart" class="form-control col-12" hidden />
    <input asp-for="Description" class="form-control col-12" hidden />
    <input asp-for="EnrolledUsersLimit" class="form-control col-12" hidden />
    <input asp-for="EnrolledUsersQuantity" class="form-control col-12" hidden />

    @if (Model.AllCourseParticipants.Count != 0)
    {
        <div class="col-12 table-responsive">
            <table id="listUsers" class="table table-striped table-bordered display" style="width: 100%;" role="grid">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.AllCourseParticipants.First().Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AllCourseParticipants.First().FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AllCourseParticipants.First().LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AllCourseParticipants.First().PointsEarned)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AllCourseParticipants.First().MaxAmountOfPointsToEarn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AllCourseParticipants.First().PercentageOfResult)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AllCourseParticipants.First().ExamPassed)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AllCourseParticipants.First().ExamOrdinalNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AllCourseParticipants.First().QuantityOfPresenceOnMeetings)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AllCourseParticipants.First().QuantityOfMeetings)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AllCourseParticipants.First().PercentageOfUserPresenceOnMeetings)
                        </th>
                        <th>
                            Przyznać certyfikat za odbyty kurs ?
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{var UsersQuantitity = Model.AllCourseParticipants.Count();}
                    @for (int i = 0; i < UsersQuantitity; i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.AllCourseParticipants.ElementAt(i).Email)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.AllCourseParticipants.ElementAt(i).FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.AllCourseParticipants.ElementAt(i).LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.AllCourseParticipants.ElementAt(i).PointsEarned)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.AllCourseParticipants.ElementAt(i).MaxAmountOfPointsToEarn)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.AllCourseParticipants.ElementAt(i).PercentageOfResult) %
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.AllCourseParticipants.ElementAt(i).ExamPassed)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.AllCourseParticipants.ElementAt(i).ExamOrdinalNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.AllCourseParticipants.ElementAt(i).QuantityOfPresenceOnMeetings)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.AllCourseParticipants.ElementAt(i).QuantityOfMeetings)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.AllCourseParticipants.ElementAt(i).PercentageOfUserPresenceOnMeetings) %
                            </td>
                            <td>
                                <input type="checkbox" asp-for="@Model.DispensedGivenCertificates[i].GivenCertificateIsEarned" data-toggle="toggle" data-on="Przyznano" data-off="Nie przyznano" data-size="sm" />
                                <input type="hidden" asp-for="@Model.DispensedGivenCertificates[i].UserIdentificator" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="col-md-6 col-xl-6 col-sm-8 col-xs-10 m-auto p-3 shadow p-3 mb-5 bg-light rounded border border-primary rounded-bottom mt-4 mb-4" style="opacity:0.80">

            <div class="form-group">
                <label asp-for="AvailableCertificates" class="control-label"></label>
                <div>
                    <select asp-for="SelectedCertificate" asp-items="@Model.AvailableCertificates" data-style="btn-white" data-container="body" data-width="auto" data-header="Wybierz instruktora" data-live-search="true" title="Nie wybrano żadnego elementu" class="form-control selectpicker show-tick w-100"> </select>
                    <div class="row justify-content-center">
                        <span asp-validation-for="SelectedCertificate" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ReceiptDate" class="control-label"></label>
                <div>
                    <div class='input-group date' id='ReceiptDate'>
                        <input type='text' class="form-control col-12" name="ReceiptDate" value="@DateTime.Now.ToShortDateString() @DateTime.Now.ToShortTimeString()" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar pl-1 pt-0.5" style="font-size:34px"></span>
                        </span>
                    </div>
                    <div class="row justify-content-center">
                        <span asp-validation-for="ReceiptDate" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ExpirationDate" class="control-label"></label>
                <div>
                    <div class='input-group date' id='ExpirationDate'>
                        <input type='text' class="form-control col-12" name="ExpirationDate" value="@DateTime.Now.AddMonths(6).ToShortDateString() @DateTime.Now.ToShortTimeString()" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar pl-1 pt-0.5" style="font-size:34px"></span>
                        </span>
                    </div>
                    <div class="row justify-content-center">
                        <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div asp-validation-summary="ModelOnly" class="row justify-content-center alert alert-danger validation-model"></div>

            <div class="row m-0 mt-3">
                <input type="submit" value="Zakończ kurs" class="btn btn-primary mt-1 mr-1 xs300px_JustifyContentCenter" />
                <a asp-action="CourseDetails" asp-route-courseIdentificator="@Model.CourseIdentificator" asp-controller="Courses" class="btn btn-outline-info mt-1 mr-1 xs300px_FloatRight">Powrót do szczegółów</a>
            </div>

        </div>
    }

    else
    {
        <div class="mt-4 mb-4 alert alert-warning">Brak zapisanych użytkowników</div>
    }

</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_DataTableBasicScript", "listUsers");}

    <script>
        $(function () {
            $('#ReceiptDate').datetimepicker({
                format: 'DD.MM.YYYY HH:mm',
                locale: moment.locale('pl', {
                    week: { dow: 1 }
                })
            });
            $('#ExpirationDate').datetimepicker({
                format: 'DD.MM.YYYY HH:mm',
                locale: moment.locale('pl', {
                    week: { dow: 1 }
                }),
                useCurrent: false
            });
            $("#ReceiptDate").on("dp.change", function (e) {
                $('#ExpirationDate').data("DateTimePicker").minDate(e.date);
            });
            $("#ExpirationDate").on("dp.change", function (e) {
                $('#DateOfStart').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>
}
