@model Certification_System.ViewModels.AddCertificateToDbViewModel
@{
    ViewBag.Title = "AddNewCertificate";
}
<h2>Dodaj nowy certyfikat</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="col-md-6 col-xl-6 col-sm-8 col-xs-10 m-auto p-3 shadow p-3 mb-5 bg-light rounded border border-primary rounded-bottom" style="opacity:0.80">

            <div class="form-group">
                @Html.LabelFor(model => model.CertificateIndexer, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.CertificateIndexer, new { htmlAttributes = new { @class = "form-control col-12" } })
                    <div class="row justify-content-center">
                        @Html.ValidationMessageFor(model => model.CertificateIndexer, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control col-12" } })
                    <div class="row justify-content-center">
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                <div>
                    <textarea asp-for="Description" class="form-control col-12" style="width:100%; min-width:100%;"></textarea>
                    <div class="row justify-content-center">
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group d-none">
                @Html.LabelFor(model => model.Depreciated, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Depreciated, new { htmlAttributes = new { @class = "form-control col-12" } })
                    <div class="row justify-content-center">
                        @Html.ValidationMessageFor(model => model.Depreciated, "", new { @class = "text-danger" })
                    </div>
                    @*@Html.RadioButtonFor(model => model.Depreciated, true)
                        @Html.RadioButtonFor(model => model.Depreciated, false)*@
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AvailableBranches, htmlAttributes: new { @class = "control-label" })
                @*@Html.DropDownListFor(model => Model.SelectedBranches, Model.AvailableBranches, new { @class = "text-danger" })
                    @Html.ListBoxFor(model => Model.SelectedBranches, Model.AvailableBranches, new { @class = "text-danger" })*@
                @*<div class="btn-group btn-group-toggle d-flex" role="group" data-toggle="buttons">
                        @foreach (var availableBranch in Model.AvailableBranches)
                        {
                            <label class="btn btn-outline-secondary m-2 w-100">
                                <input type="checkbox"
                                       name="SelectedBranches"
                                       value="@availableBranch.Value"
                                       autocomplete="off"
                                       @if (Model.SelectedBranches.Contains(availableBranch.Value)) { <text> checked </text> } />
                                <span>@availableBranch.Text</span>
                            </label>
                        }
                    </div>*@

                <div>
                    <select asp-for="SelectedBranches" asp-items="@Model.AvailableBranches" data-style="btn-white" data-container="body" data-width="auto" data-header="Wybierz obszary certyfikacji" data-live-search="true" title="Nie wybrano żadnego elementu" class="form-control selectpicker show-tick w-100"> </select>
                    <div class="row justify-content-center">
                        <span asp-validation-for="SelectedBranches" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div>
                <div class="row justify-content-center">
                    <input type="submit" value="Utwórz" class="btn btn-primary" />
                </div>
            </div>

        </div>

        <div class="row justify-content-center">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>

    </div>
}

<div class="mt-3">
    @Html.ActionLink("Przejdź do listy certyfikatów", "DisplayAllCertificates", "Certificates", null, new { @class = "btn btn-info mt-3" })
</div>
