@model Certification_System.DTOViewModels.EditCertificateViewModel
@{
    ViewData["Title"] = "EditCertificate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edytuj certyfikat</h1>
<hr />

<div>
    <form asp-action="EditCertificate">

        <div class="col-md-8 col-xl-6 col-lg-6 col-sm-12 col-xs-10 m-auto p-3 shadow p-3 mb-5 bg-light rounded border border-primary rounded-bottom" style="opacity:0.90; z-index:1000">

            <input asp-for="CertificateIdentificator" class="form-control col-12" hidden />

            <div class="form-group">
                <label asp-for="CertificateIndexer" class="control-label"></label>
                <div>
                    <input asp-for="CertificateIndexer" class="form-control col-12" />
                    <div class="row justify-content-center">
                        <span asp-validation-for="CertificateIndexer" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <div>
                    <input asp-for="Name" class="form-control col-12" />
                    <div class="row justify-content-center">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <div>
                    <textarea asp-for="Description" class="form-control col-12" style="width:100%; min-width:100%;"></textarea>
                    <div class="row justify-content-center">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group d-none">
                <label asp-for="Depreciated" class="control-label"></label>
                <div>
                    <input asp-for="Depreciated" class="form-control col-12" />
                    <div class="row justify-content-center">
                        <span asp-validation-for="Depreciated" class="text-danger"></span>
                    </div>
                    @*@Html.RadioButtonFor(model => model.Depreciated, true)
                        @Html.RadioButtonFor(model => model.Depreciated, false)*@
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AvailableBranches" class="control-label"></label>
                @*@Html.DropDownListFor(model => Model.SelectedBranches, Model.AvailableBranches, new { @class = "text-danger" })
                    @Html.ListBoxFor(model => Model.SelectedBranches, Model.AvailableBranches, new { @class = "text-danger" })*@
                @*<div class="btn-group btn-group-toggle" data-toggle="buttons">
                        @foreach (var availableBranch in Model.AvailableBranches)
                        {
                            <label class="btn btn-outline-secondary mr-2  @if (Model.SelectedBranches.Contains(availableBranch.Value)) { <text> active </text>} ">
                                <input type="checkbox"
                                       name="SelectedBranches"
                                       value="@availableBranch.Value"
                                       autocomplete="off"
                                       @if (Model.SelectedBranches.Contains(availableBranch.Value)) { <text> checked </text> } />
                                <span>@availableBranch.Text</span>
                            </label>
                        }
                    </div>*@

                <div>
                    <select asp-for="SelectedBranches" asp-items="@Model.AvailableBranches" data-style="btn-white" data-container="body" data-width="100%" data-size="auto" data-header="Wybierz obszary certyfikacji" data-live-search="true" title="Nie wybrano żadnego elementu" class="form-control selectpicker show-tick"> </select>
                    <div>
                        <span asp-validation-for="SelectedBranches" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <div asp-validation-summary="ModelOnly" class="row justify-content-center alert alert-danger validation-model"></div>

            <div class="row m-0 mt-3">
                <button type="button" class="btn btn-primary mt-1 xs300px_JustifyContentCenter" data-toggle="modal" data-target="#modal">Edytuj</button>
                <a asp-action="DisplayAllCertificates" asp-controller="Certificates" class="btn btn-outline-info mt-1 xs300px_FloatRight">Powrót do listy</a>
            </div>
        </div>

        @await Component.InvokeAsync("Modal", new { Title = "Edycja certyfikatu", Body = "Czy na pewno chcesz zaktualizować dane wybranego typu certyfikatu ?", FormSubmit = true, ButtonText = "Edytuj", ButtonClass = "btn-warning" })
   
    </form>
</div>

