@model Certification_System.DTOViewModels.DisplayGivenCertificateViewModel

@{
    ViewData["Title"] = "VerifyUserCertificateByQR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.ExpirationDate < DateTime.Now)
{
    <h2 class="alert alert-info" role="alert">Certyfikat utracił swoją ważność</h2>
}
else
{
    <h2 class="alert alert-success" role="alert">Certyfikat jest ważny</h2>
}

<div class="col-12 table-responsive">
    <table id="givenCertificateConfirmation" class="table table-striped table-bordered display" style="width: 100%;" role="grid">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GivenCertificateIndexer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReceiptDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpirationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Certificate.CertificateIndexer) i @Html.DisplayNameFor(model => model.Certificate.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.FirstName) i @Html.DisplayNameFor(model => model.User.LastName)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.GivenCertificateIndexer)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ReceiptDate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ExpirationDate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Certificate.CertificateIndexer) @Html.DisplayFor(model => model.Certificate.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName)
                </td>
            </tr>
        </tbody>
    </table>
</div>

@if (this.User.IsInRole("Admin"))
{
    <div class="mt-3">
        <a asp-action="AddNewGivenCertificate" asp-controller="Certificates" class="btn btn-primary">Nadaj certyfikat</a>
        <a asp-action="EditGivenCertificate" asp-route-givenCertificateIdentificator="@Model.GivenCertificateIdentificator" asp-controller="Certificates" class="btn btn-warning">Aktualizuj</a>
        <a asp-action="DisplayAllGivenCertificate" asp-controller="Certificates" class="btn btn-success">Lista wszystkich nadanych certyfikatów</a>
    </div>
}

@section Scripts{
    <script>
        $(document).ready(function () {

            $('#givenCertificateConfirmation').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Polish.json"
                },
            }
            );
        });
    </script>
}
