<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Certification System</title>
    <link rel="icon" href="@Url.Content("~/content/Img/favicon.ico")" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="top-bar-wrap" class="clr p-3">
        <div id="top-bar" class="clr container">
            <div id="top-bar-inner" class="clr">
                <div id="top-bar-content" class="clr has-content top-bar-left">
                    <span class="topbar-content">
                        <b>Godziny otwarcia: </b>pn-pt 7:00– 15:00,    tel. 33 81 38 300-309,   e-mail: szkolenie@ziad.bielsko.pl
                    </span>
                </div><!-- #top-bar-content -->
            </div><!-- #top-bar-inner -->
        </div><!-- #top-bar -->
    </div>

    @if (Request.IsAuthenticated)
    {
        //@Html.Action("GenerateMenu", "Account");

        // Menu Pracownik
        if (this.User.IsInRole("Worker"))
        {
            @Html.Action("_WorkerMenu", "Account")
        }
        // Menu Pracodawca
        else if (this.User.IsInRole("Company"))
        {
            @Html.Action("_CompanyMenu", "Account");
        }
        // Menu Admin
        else if (this.User.IsInRole("Admin"))
        {
            @Html.Action("_AdminMenu", "Account");
        }
    }
    else
    {
        @Html.Partial("_CertificationSystemBanner")
    }
    <div class="container body-content background-image mt-2">
        @RenderBody()
        <hr />
    </div>

    <div id="footer-bottom" class="clr no-footer-nav" style="color: #ffffff">
        <div id="footer-bottom-inner" class="container clr">
            <div id="copyright" class="clr" role="contentinfo">
                © Copyright Łukasz Czepielik 2019
            </div><!-- #copyright -->
        </div><!-- #footer-bottom-inner -->
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
