@model Certification_System.DTOViewModels.AddDegreeViewModel

@{
    ViewData["Title"] = "AddNewDegree";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dodaj nowy stopień zawodowy</h2>
<hr />

<div>
    <form asp-action="AddNewDegree">

        <div class="col-md-8 col-xl-6 col-lg-6 col-sm-12 col-xs-10 m-auto p-3 shadow p-3 mb-5 bg-light rounded border border-primary rounded-bottom" style="opacity:0.90">

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <div>
                    <input asp-for="Name" class="form-control col-12" />
                    <div class="row justify-content-center">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <div>
                    <textarea asp-for="Description" class="form-control col-12" style="width:100%; min-width:100%;"></textarea>
                    <div class="row justify-content-center">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ConditionsList" class="control-label"></label>
                <div>
                    <input asp-for="ConditionsList" class="form-control col-12" style="width:100%; min-width:100%;" id="tagInput" data-role="tagsinput"/>
                    <div class="row justify-content-center">
                        <span asp-validation-for="ConditionsList" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="AvailableCertificates" class="control-label"></label>
                <div>
                    <select asp-for="SelectedCertificates" asp-items="@Model.AvailableCertificates" data-style="btn-white" data-container="body" data-width="100%" data-size="auto" data-header="Wybierz wymagane certyfikaty" data-live-search="true" title="Nie wybrano żadnego elementu" data-none-results-text="Nie znaleziono szukanej frazy" class="form-control selectpicker show-tick"> </select>
                    <div class="row justify-content-center">
                        <span asp-validation-for="SelectedCertificates" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="AvailableDegrees" class="control-label"></label>
                <div>
                    <select asp-for="SelectedDegrees" asp-items="@Model.AvailableDegrees" data-style="btn-white" data-container="body" data-width="100%" data-size="auto" data-header="Wybierz wymagane stopnie zawodowe" data-live-search="true" title="Nie wybrano żadnego elementu" data-none-results-text="Nie znaleziono szukanej frazy" class="form-control selectpicker show-tick"> </select>
                    <div class="row justify-content-center">
                        <span asp-validation-for="SelectedDegrees" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="AvailableBranches" class="control-label"></label>
                @*<div>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            @foreach (var availableBranch in Model.AvailableBranches)
                            {
                                <label class="btn btn-outline-secondary m-2">
                                    <input type="checkbox"
                                           name="SelectedBranches"
                                           value="@availableBranch.Value"
                                           autocomplete="off"
                                           @if (Model.SelectedBranches.Contains(availableBranch.Value)) { <text> checked </text> } />
                                    <span>@availableBranch.Text</span>
                                </label>
                            }
                        </div>
                    </div>*@
                <div>
                    <select asp-for="SelectedBranches" asp-items="@Model.AvailableBranches" data-style="btn-white" data-container="body" data-width="100%" data-size="auto" data-header="Wybierz obszary certyfikacji" data-live-search="true" title="Nie wybrano żadnego elementu" data-none-results-text="Nie znaleziono szukanej frazy" class="form-control selectpicker show-tick"> </select>
                    <div class="row justify-content-center">
                        <span asp-validation-for="SelectedBranches" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div asp-validation-summary="ModelOnly" class="row justify-content-center alert alert-danger validation-model"></div>

            <div class="row m-0 mt-3">
                <input type="submit" value="Dodaj" class="btn btn-primary mt-1 xs300px_JustifyContentCenter" />
                <a asp-action="DisplayAllDegrees" asp-controller="Degrees" class="btn btn-outline-info mt-1 xs300px_FloatRight">Powrót do listy</a>
            </div>

        </div>

    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $('.bootstrap-tagsinput input').keydown(function (event) {
            if (event.which == 13) {
                $(this).blur();
                $(this).focus();
                return false;
            }
        })
    </script>
}
