@model Certification_System.ViewModels.DisplayDegreeViewModel

@{
    ViewData["Title"] = "AddNewDegreeConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (ViewBag.TypeOfAction == "Update")
{
    <h2 class="alert alert-info" role="alert">Zaktualizowano stopień zawodowy:</h2>
}
else
{
    <h2 class="alert alert-success" role="alert">Dodano następujący stopień zawodowy:</h2>
}

<div class="col-12 table-responsive">
    <table id="degreeConfirmation" class="table table-striped table-bordered display" style="width: 100%;" role="grid">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DegreeIndexer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequiredCertificates)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequiredDegrees)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Branches)
                </th>
                <th>
                    Operacje
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.DegreeIndexer)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Description)
                </td>
                <td>
                    <ul>
                        @foreach (var certificate in Model.RequiredCertificates)
                        {
                            <li>@certificate</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @foreach (var degree in Model.RequiredDegrees)
                        {
                            <li>@degree</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @foreach (var branch in Model.Branches)
                        {
                            <li>@branch</li>
                        }
                    </ul>
                </td>
                <td>
                    @Html.ActionLink("Szczegóły", "DegreeDetails", "Degrees", new { degreeIdentificator = Model.DegreeIdentificator }, new { @class = "btn btn-info m-1" })
                    @Html.ActionLink("Aktualizuj", "EditDegree", "Degrees", new { degreeIdentificator = Model.DegreeIdentificator }, new { @class = "btn btn-warning m-1" })
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="mt-3">
    @Html.ActionLink("Dodaj stopień zawodowy", "AddNewDegree", "Degrees", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Powrót do listy stopni zawodowych", "DisplayAllDegrees", "Degrees", null, new { @class = "btn btn-info" })
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $('#degreeConfirmation').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Polish.json"
                },
            }
            );
        });
    </script>
}
