@model IEnumerable<Certification_System.DTOViewModels.DisplayGivenDegreeViewModel>

@{
    ViewData["Title"] = "DisplayAllGivenDegrees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista wszystkich nadanych stopni zawodowych</h1>
<hr />

<div class="m-3">
    <a asp-action="AddNewGivenDegree" asp-controller="Degrees" class="btn btn-primary">Przyznaj stopień zawodowy</a>
</div>

<div class="col-12 table-responsive">
    <table id="listGivenDegrees" class="table table-striped table-bordered display" style="width: 100%;" role="grid">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GivenDegreeIndexer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReceiptDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpirationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Degree.DegreeIndexer) i @Html.DisplayNameFor(model => model.Degree.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.FirstName) i @Html.DisplayNameFor(model => model.User.LastName)
                </th>
                <th>
                    Operacje
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var givenDegree in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => givenDegree.GivenDegreeIndexer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => givenDegree.ReceiptDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => givenDegree.ExpirationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => givenDegree.Degree.DegreeIndexer) @Html.DisplayFor(model => givenDegree.Degree.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => givenDegree.User.FirstName) @Html.DisplayFor(model => givenDegree.User.LastName)
                    </td>
                    <td>
                        <a asp-action="UserDetails" asp-route-userIdentificator="@givenDegree.User.UserIdentificator" asp-controller="Users" class="btn btn-info m-1">Szczegóły użytkownika</a>
                        <a asp-action="EditGivenDegree" asp-route-givenDegreeIdentificator="@givenDegree.GivenDegreeIdentificator" asp-controller="Degrees" class="btn btn-warning m-1">Edytuj stopień zawodowy</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $('#listGivenDegrees').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Polish.json"
                },
            }
            );
        });
    </script>
}
