@model Certification_System.DTOViewModels.DeleteUserFromExamDataTableViewModel

<div class="col-12 table-responsive">
    <table id="@Model.Options.TableIdentificator" class="table table-striped table-bordered display" style="width: 100%;" role="grid">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().LastName)
                </th>
                <th>
                    Użytkownik do usunięcia z egzaminu ?
                </th>
            </tr>
        </thead>
        <tbody>
            @{var UsersQuantitity = Model.Users.Count();}
            @for (int i = 0; i < UsersQuantitity; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Users.ElementAt(i).Email)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Users.ElementAt(i).FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Users.ElementAt(i).LastName)
                    </td>
                    <td>
                        <input type="checkbox" asp-for="@Model.UsersToDeleteFromExam[i].IsToDelete" data-toggle="toggle" data-on="Tak" data-off="Nie" data-size="sm" />
                        <input type="hidden" asp-for="@Model.UsersToDeleteFromExam[i].UserIdentificator" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
