@model Certification_System.DTOViewModels.DisplayExamWithoutExaminerDataTableViewModel

<div class="col-12 table-responsive">
    <table id="@Model.Options.TableIdentificator" class="table table-striped table-bordered display" style="width: 100%;" role="grid">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => Model.Exams.FirstOrDefault().ExamIndexer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.Exams.FirstOrDefault().OrdinalNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.Exams.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.Exams.FirstOrDefault().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.Exams.FirstOrDefault().DateOfStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.Exams.FirstOrDefault().DateOfEnd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.Exams.FirstOrDefault().DurationDays)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.Exams.FirstOrDefault().DurationMinutes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.Exams.FirstOrDefault().ExamDividedToTerms)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.Exams.FirstOrDefault().UsersQuantitiy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model.Exams.FirstOrDefault().UsersLimit)
                </th>
                @if (Model.Options.OperationSet != 0)
                {
                    <th>
                        Operacje
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var exam in Model.Exams)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => exam.ExamIndexer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => exam.OrdinalNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => exam.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => exam.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => exam.DateOfStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => exam.DateOfEnd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => exam.DurationDays)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => exam.DurationMinutes)
                    </td>
                    <td>
                        <input type="checkbox" asp-for="@exam.ExamDividedToTerms" data-toggle="toggle" data-on="Tak" data-off="Nie" data-size="sm" disabled />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => exam.UsersQuantitiy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => exam.UsersLimit)
                    </td>
                    @if (Model.Options.OperationSet == 1)
                    {
                        <td>
                            <div class="dropdown p-0">
                                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Operacje</button>
                                <div class="dropdown-menu nohover">
                                    @if (exam.ExamDividedToTerms)
                                    {
                                        <a asp-action="AddNewExamTerm" asp-route-examIdentificator="@exam.ExamIdentificator" asp-controller="Exams" class="btn btn-secondary w-100 mb-1">Dodaj turę do egzaminu</a>
                                    }
                                    else
                                    {
                                        <a asp-action="MarkExam" asp-route-examIdentificator="@exam.ExamIdentificator" asp-controller="Exams" class="btn btn-primary w-100 mb-1">Oceń egzamin</a>
                                    }
                                    <a asp-action="ExamDetails" asp-route-examIdentificator="@exam.ExamIdentificator" asp-controller="Exams" class="btn btn-info w-100 mb-1">Szczegóły egzaminu</a>
                                    <a asp-action="EditExamHub" asp-route-examIdentificator="@exam.ExamIdentificator" asp-controller="Exams" class="btn btn-warning w-100 mb-1">Edytuj</a>
                                    <a asp-action="AddUsersToExam" asp-route-examIdentificator="@exam.ExamIdentificator" asp-controller="Exams" class="btn btn-light w-100  mb-1">Przypisz użytkowników</a>
                                    <a asp-action="DeleteUsersFromExam" asp-route-examIdentificator="@exam.ExamIdentificator" asp-controller="Exams" class="btn btn-danger w-100">Usuń użytkowników</a>
                                </div>
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>