@model Certification_System.DTOViewModels.DisplayUserWithExamResultsDataTableViewModel

<div class="col-12 table-responsive">
    <table id="@Model.Options.TableIdentificator" class="table table-striped table-bordered display" style="width: 100%;" role="grid">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().PointsEarned)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().MaxAmountOfPointsToEarn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().PercentageOfResult)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().ExamPassed)
                </th>
                @if (Model.Options.OperationSet != 0)
                {
                    <th>
                        Operacje
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => user.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.LastName)
                    </td>
                    @if (!user.HasExamResult)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => user.PointsEarned)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.MaxAmountOfPointsToEarn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.PercentageOfResult)
                        </td>
                        <td>
                            <input type="checkbox" asp-for="@user.ExamPassed" data-toggle="toggle" data-on="Tak" data-off="Nie" data-size="sm" disabled />
                        </td>
                    }
                    else
                    {
                        <td>
                            Nie oceniony
                        </td>
                        <td>
                            Nie oceniony
                        </td>
                        <td>
                            Nie oceniony
                        </td>
                        <td>
                            Nie oceniony
                        </td>
                    }
                    <td>
                        <a asp-action="UserDetails" asp-route-userIdentificator="@user.UserIdentificator" asp-controller="Users" class="btn btn-info">Szczegóły użytkownika</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
