@model Certification_System.DTOViewModels.AddExamPeriodWithExamTermsViewModel

@{
    ViewData["Title"] = "AddExamPeriodWithExamTerms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dodaj nowy termin egzaminu z turami</h1>
<hr />

<div>
    <form asp-action="AddNewExamWithExamTerms">

        <div class="col-md-8 col-xl-6 col-lg-6 col-sm-12 col-xs-10 m-auto p-3 shadow p-3 mb-5 bg-light rounded border border-primary rounded-bottom" style="opacity:0.90">

            <div class="form-group">
                <label asp-for="SelectedCourse" class="control-label"></label>
                <div>
                    <select asp-for="SelectedCourse" asp-items="@Model.AvailableCourses" data-style="btn-white" data-container="body" data-width="auto" data-header="Wybierz kurs" data-live-search="true" title="Nie wybrano żadnego elementu" class="form-control selectpicker show-tick w-100"> </select>
                    <div class="row justify-content-center">
                        <span asp-validation-for="SelectedCourse" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="SelectedExam" class="control-label"></label>
                <div>
                    <select asp-for="SelectedExam" asp-items="@Model.AvailableExams" data-style="btn-white" data-container="body" data-width="auto" data-header="Wybierz egzamin" data-live-search="true" title="Nie wybrano żadnego elementu" class="form-control selectpicker show-tick w-100"> </select>
                    <div class="row justify-content-center">
                        <span asp-validation-for="SelectedExam" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="DateOfStart" class="control-label"></label>
                <div>
                    <div class='input-group date' id='DateOfStart'>
                        <input type='text' class="form-control col-12" name="DateOfStart" value="@DateTime.Now.ToShortDateString() @DateTime.Now.ToShortTimeString()" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar pl-1 pt-0.5" style="font-size:34px"></span>
                        </span>
                    </div>
                    <div class="row justify-content-center">
                        <span asp-validation-for="DateOfStart" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="DateOfEnd" class="control-label"></label>
                <div>
                    <div class='input-group date' id='DateOfEnd'>
                        <input type='text' class="form-control col-12" name="DateOfEnd" value="@DateTime.Now.AddMonths(6).ToShortDateString() @DateTime.Now.ToShortTimeString()" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar pl-1 pt-0.5" style="font-size:34px"></span>
                        </span>
                    </div>
                    <div class="row justify-content-center">
                        <span asp-validation-for="DateOfEnd" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="UsersLimit" class="control-label"></label>
                <div>
                    <input asp-for="UsersLimit" class="form-control col-12" min="1" value="1" />
                    <div class="row justify-content-center">
                        <span asp-validation-for="UsersLimit" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="SelectedExaminers" class="control-label"></label>
                <div>
                    <select asp-for="SelectedExaminers" asp-items="@Model.AvailableExaminers" data-style="btn-white" data-container="body" data-width="auto" data-header="Wybierz kurs" data-live-search="true" title="Nie wybrano żadnego elementu" class="form-control selectpicker show-tick w-100"> </select>
                    <div class="row justify-content-center">
                        <span asp-validation-for="SelectedExaminers" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ExamDividedToTerms" class="control-label"></label>
                <div>
                    <input type="checkbox" asp-for="ExamDividedToTerms" id="ExamDividedToTerms" class="form-control col-12" data-toggle="toggle" data-on="Tak" data-off="Nie" data-size="sm" disabled />
                    <div class="row justify-content-center">
                        <span asp-validation-for="ExamDividedToTerms" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @for (int i = 0; i < Model.ExamTerms.Count(); i++)
            {
                <div class="m-2 col-12 bg-light rounded border border-secondary rounded-bottom">

                    <div class="form-group">
                        <label asp-for="ExamTerms[i].UsersLimit" class="control-label"></label>
                        <div>
                            <input asp-for="ExamTerms[i].UsersLimit" class="form-control col-6" min="1" />
                            <div class="row justify-content-center">
                                <span asp-validation-for="ExamTerms[i].UsersLimit" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="ExamTerms[i].SelectedExaminers" class="control-label"></label>
                        <div>
                            <select asp-for="ExamTerms[i].SelectedExaminers" asp-items="@Model.AvailableExaminers" data-style="btn-white" data-container="body" data-width="auto" data-header="Wybierz kurs" data-live-search="true" title="Nie wybrano żadnego elementu" class="form-control selectpicker show-tick w-100"> </select>
                            <div class="row justify-content-center">
                                <span asp-validation-for="ExamTerms[i].SelectedExaminers" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="ExamTerms[i].DateOfStart" class="control-label"></label>
                        <div>
                            <div class='input-group date' id='DateOfStart'>
                                <input type='text' class="form-control col-6" name="DateOfStart" value="@DateTime.Now.ToShortDateString() @DateTime.Now.ToShortTimeString()" />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar pl-1 pt-0.5" style="font-size:34px"></span>
                                </span>
                            </div>
                            <div class="row justify-content-center">
                                <span asp-validation-for="ExamTerms[i].DateOfStart" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="ExamTerms[i].DateOfEnd" class="control-label"></label>
                        <div>
                            <div class='input-group date' id='DateOfEnd'>
                                <input type='text' class="form-control col-6" name="DateOfEnd" value="@DateTime.Now.AddMonths(6).ToShortDateString() @DateTime.Now.ToShortTimeString()" />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar pl-1 pt-0.5" style="font-size:34px"></span>
                                </span>
                            </div>
                            <div class="row justify-content-center">
                                <span asp-validation-for="ExamTerms[i].DateOfEnd" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div asp-validation-summary="ModelOnly" class="row justify-content-center alert alert-danger validation-model"></div>

            <div class="row m-0 mt-3">
                <input type="submit" value="Dodaj" class="btn btn-primary mt-1 xs300px_JustifyContentCenter" />
                <a asp-action="DisplayAllExams" asp-controller="Exams" class="btn btn-outline-info mt-1 xs300px_FloatRight">Powrót do listy</a>
            </div>

        </div>

    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}