@model Certification_System.DTOViewModels.EditExamWithExamTermsViewModel
@using Certification_System.DTOViewModels

@{
    ViewData["Title"] = "EditExamWithExamTerms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edytuj egzamin</h1>
<hr />

<div>
    <form asp-action="EditExamWithExamTerms">

        <div class="col-md-8 col-xl-6 col-lg-6 col-sm-12 col-xs-10 m-auto p-3 shadow p-3 mb-5 bg-light rounded border border-primary rounded-bottom" style="opacity:0.90">

            <input asp-for="ExamIdentificator" class="form-control col-12" hidden readonly />
            <input asp-for="SelectedCourse" class="form-control col-12" hidden readonly />
            <input asp-for="ExamDividedToTerms" class="form-control col-12" hidden readonly />

            <div class="form-group">
                <label asp-for="SelectedCourse" class="control-label"></label>
                <div>
                    <select asp-for="SelectedCourse" asp-items="@Model.AvailableCourses" data-style="btn-white" data-container="body" data-width="100%" data-size="auto" data-header="Wybierz kurs" data-live-search="true" title="Nie wybrano żadnego elementu" data-none-results-text="Nie znaleziono szukanej frazy" class="form-control selectpicker show-tick" disabled> </select>
                    <div class="row justify-content-center">
                        <span asp-validation-for="SelectedCourse" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <div>
                    <textarea asp-for="Name" class="form-control col-12" style="width:100%; min-width:100%;"></textarea>
                    <div class="row justify-content-center">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <div>
                    <textarea asp-for="Description" class="form-control col-12" style="width:100%; min-width:100%;"></textarea>
                    <div class="row justify-content-center">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="TypeOfExam" class="control-label"></label>
                <div>
                    <select asp-for="TypeOfExam" asp-items="@Model.AvailableExamTypes" data-style="btn-white" data-container="body" data-width="100%" data-size="auto" data-header="Wybierz typ egzaminu" data-live-search="true" title="Nie wybrano żadnego elementu" data-none-results-text="Nie znaleziono szukanej frazy" class="form-control selectpicker show-tick"> </select>
                    <div class="row justify-content-center">
                        <span asp-validation-for="TypeOfExam" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="DateOfStart" class="control-label"></label>
                <div>
                    <div class='input-group date' id='DateOfStart'>
                        <input asp-for="DateOfStart" type='text' class="form-control col-12" name="DateOfStart" value="@Model.DateOfStart" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar pl-1 pt-0.5" style="font-size:34px"></span>
                        </span>
                    </div>
                    <div class="row justify-content-center">
                        <span asp-validation-for="DateOfStart" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="DateOfEnd" class="control-label"></label>
                <div>
                    <div class='input-group date' id='DateOfEnd'>
                        <input asp-for="DateOfEnd" type='text' class="form-control col-12" name="DateOfEnd" value="@Model.DateOfEnd" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar pl-1 pt-0.5" style="font-size:34px"></span>
                        </span>
                    </div>
                    <div class="row justify-content-center">
                        <span asp-validation-for="DateOfEnd" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ExamDividedToTerms" class="control-label"></label>
                <div>
                    <input type="checkbox" asp-for="ExamDividedToTerms" id="ExamDividedToTerms" class="form-control col-12" data-toggle="toggle" data-on="Tak" data-off="Nie" data-size="sm" disabled />
                    <div class="row justify-content-center">
                        <span asp-validation-for="ExamDividedToTerms" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @*<div class="form-group">
            <label asp-for="UsersLimit" class="control-label"></label>
            <div>
                <input asp-for="UsersLimit" class="form-control col-12" min="1" value="1" />
                <div class="row justify-content-center">
                    <span asp-validation-for="UsersLimit" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="SelectedExaminers" class="control-label"></label>
            <div>
                <select asp-for="SelectedExaminers" asp-items="@Model.AvailableExaminers" data-style="btn-white" data-container="body" data-width="100%" data-size="auto" data-header="Wybierz kurs" data-live-search="true" title="Nie wybrano żadnego elementu" data-none-results-text="Nie znaleziono szukanej frazy" class="form-control selectpicker show-tick"> </select>
                <div class="row justify-content-center">
                    <span asp-validation-for=".SelectedExaminers" class="text-danger"></span>
                </div>
            </div>
        </div>*@

            <hr />
            <h4 class="mt-3 mb-3 text-center">Tury egzaminu</h4>
            <hr />

            @for (int i = 0; i < Model.ExamTerms.Count(); i++)
            {
                <div class="col-12 bg-light rounded border border-primary rounded-bottom mb-2 p-3">

                    <input asp-for="ExamTerms[i].ExamTermIdentificator" class="form-control col-6" hidden readonly />

                    <div class="form-group">
                        <label asp-for="ExamTerms[i].UsersLimit" class="control-label"></label>
                        <div>
                            <input asp-for="ExamTerms[i].UsersLimit" class="form-control col-12" min="1" value="1" />
                            <div class="row justify-content-center">
                                <span asp-validation-for="ExamTerms[i].UsersLimit" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="ExamTerms[i].SelectedExaminers" class="control-label"></label>
                        <div>
                            <select asp-for="ExamTerms[i].SelectedExaminers" asp-items="@Model.AvailableExaminers" data-style="btn-white" data-container="body" data-width="100%" data-size="auto" data-header="Wybierz kurs" data-live-search="true" title="Nie wybrano żadnego elementu" data-none-results-text="Nie znaleziono szukanej frazy" class="form-control selectpicker show-tick"> </select>
                            <div class="row justify-content-center">
                                <span asp-validation-for="ExamTerms[i].SelectedExaminers" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="ExamTerms[i].DateOfStart" class="control-label"></label>
                        <div>
                            @{string id_DoS = "DateOfStart" + i; }
                            <div class='input-group date' id='@id_DoS'>
                                <input asp-for="ExamTerms[i].DateOfStart" type='text' class="form-control col-12" value="@Model.ExamTerms[i].DateOfStart" />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar pl-1 pt-0.5" style="font-size:34px"></span>
                                </span>
                            </div>
                            <div class="row justify-content-center">
                                <span asp-validation-for="ExamTerms[i].DateOfStart" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="ExamTerms[i].DateOfEnd" class="control-label"></label>
                        <div>
                            @{string id_DoE = "DateOfEnd" + i; }
                            <div class='input-group date' id='@id_DoE'>
                                <input asp-for="ExamTerms[i].DateOfEnd" type='text' class="form-control col-12" value="@Model.ExamTerms[i].DateOfEnd" />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar pl-1 pt-0.5" style="font-size:34px"></span>
                                </span>
                            </div>
                            <div class="row justify-content-center">
                                <span asp-validation-for="ExamTerms[i].DateOfEnd" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ExamTerms[i].Country" class="control-label"></label>
                        <div>
                            <input asp-for="ExamTerms[i].Country" class="form-control col-12" />
                            <div class="row justify-content-center">
                                <span asp-validation-for="ExamTerms[i].Country" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="ExamTerms[i].City" class="control-label"></label>
                        <div>
                            <input asp-for="ExamTerms[i].City" class="form-control col-12" />
                            <div class="row justify-content-center">
                                <span asp-validation-for="ExamTerms[i].City" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="ExamTerms[i].PostCode" class="control-label"></label>
                        <div>
                            <input asp-for="ExamTerms[i].PostCode" class="form-control col-12" />
                            <div class="row justify-content-center">
                                <span asp-validation-for="ExamTerms[i].PostCode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="ExamTerms[i].Address" class="control-label"></label>
                        <div>
                            <input asp-for="ExamTerms[i].Address" class="form-control col-12" />
                            <div class="row justify-content-center">
                                <span asp-validation-for="ExamTerms[i].Address" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="ExamTerms[i].NumberOfApartment" class="control-label"></label>
                        <div>
                            <input asp-for="ExamTerms[i].NumberOfApartment" class="form-control col-12" />
                            <div class="row justify-content-center">
                                <span asp-validation-for="ExamTerms[i].NumberOfApartment" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
            }

            <div asp-validation-summary="ModelOnly" class="row justify-content-center alert alert-danger validation-model"></div>

            <div class="row m-0 mt-3">
                <button type="button" class="btn btn-primary mt-1 xs300px_JustifyContentCenter" data-toggle="modal" data-target="#modal">Edytuj</button>
                <a asp-action="DisplayAllGivenCertificates" asp-controller="GivenCertificates" class="btn btn-outline-info mt-1 xs300px_FloatRight">Powrót do listy</a>
            </div>

        </div>

        @await Component.InvokeAsync("Modal", new { Title = "Edycja egzaminu", Body = "Czy na pewno chcesz zaktualizować wybrany egzamin wraz z powiązanymi turami ?", FormSubmit = true, ButtonText = "Edytuj", ButtonClass = "btn-warning" })

    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_RelatedCalendarsInputScript", new RelatedCalendarsInputScriptViewModel { StartDate = "DateOfStart", EndDate = "DateOfEnd" });}
    @{await Html.RenderPartialAsync("_RelatedManyCalendarsInputScript", new RelatedManyCalendarsInputScriptViewModel { StartDate = "DateOfStart", EndDate = "DateOfEnd", QuantityOfInputs = Model.ExamTerms.Count() });}
}
