@model Certification_System.DTOViewModels.DisplayDegreeDataTableViewModel

<div class="col-12 table-responsive">
    <table id="@Model.Options.TableIdentificator" class="table table-striped table-bordered display" style="width: 100%;" role="grid">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Degrees.FirstOrDefault().DegreeIndexer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Degrees.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Degrees.FirstOrDefault().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Degrees.FirstOrDefault().Conditions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Degrees.FirstOrDefault().RequiredCertificates)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Degrees.FirstOrDefault().RequiredDegrees)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Degrees.FirstOrDefault().Branches)
                </th>
                @if (Model.Options.OperationSet != 0)
                {
                    <th>
                        Operacje
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var degree in Model.Degrees)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => degree.DegreeIndexer)
                    </td>
                    <td>
                        @Html.DisplayFor(model => degree.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => degree.Description)
                    </td>
                    <td>
                        <ul>
                            @foreach (var condition in degree.Conditions)
                            {
                                <li>@condition</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach (var requiredCertificate in degree.RequiredCertificates)
                            {
                                <li>@requiredCertificate</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach (var requiredDegree in degree.RequiredDegrees)
                            {
                                <li>@requiredDegree</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach (var branch in degree.Branches)
                            {
                                <li>@branch</li>
                            }
                        </ul>
                    </td>
                    @if (Model.Options.OperationSet == 1)
                    {
                        <td>
                            <div class="dropdown p-0">
                                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Operacje</button>
                                <div class="dropdown-menu nohover">
                                    <a asp-action="DegreeDetails" asp-route-degreeIdentificator="@degree.DegreeIdentificator" asp-controller="Degrees" class="btn btn-info w-100 mb-1">Szczegóły</a>
                                    <a asp-action="EditDegree" asp-route-degreeIdentificator="@degree.DegreeIdentificator" asp-controller="Degrees" class="btn btn-warning w-100">Edytuj</a>
                                </div>
                            </div>
                        </td>
                    }
                    @if (Model.Options.OperationSet == 2)
                    {
                        <td>
                            <a asp-action="CompanyDegreeDetails" asp-route-degreeIdentificator="@degree.DegreeIdentificator" asp-controller="Degrees" class="btn btn-info m-1">Szczegóły</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>