@model Certification_System.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "", role = "form" }))
{

    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    <div class="form-group form-group">
        <div class="col-6 m-auto p-0">
            @Html.LabelFor(m => m.Email, new { @class = "col-12 control-label p-0" })
        </div>
        <div class="col-6 m-auto p-0">
            @Html.TextBoxFor(m => m.Email, new { @class = "col-12 form-control" })
        </div>
        <div class="row justify-content-center">
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-6 m-auto p-0">
            @Html.LabelFor(m => m.Password, new { @class = "col-12 control-label p-0" })
        </div>
        <div class="col-6 m-auto p-0">
            @Html.PasswordFor(m => m.Password, new { @class = "col-12 form-control" })
        </div>
        <div class="row justify-content-center">
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-6 m-auto p-0">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-12 control-label p-0" })
        </div>
        <div class="col-6 m-auto p-0">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "col-12 form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-6 m-auto p-0">
            <input type="submit" class="btn btn-primary" value="Register" />
        </div>
    </div>
    <div class="row justify-content-center">
        @Html.ValidationSummary("", new { @class = "text-danger" })
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
