@model Certification_System.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Resetowanie hasła";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Formularz resetowania hasła</h4>
    <hr />
    @Html.HiddenFor(model => model.Code)
    <div class="form-group">
        <div class="col-6 m-auto p-0">
            @Html.LabelFor(m => m.Email, new { @class = "col-12 p-0 control-label" })
        </div>
        <div class="col-6 m-auto p-0">
            @Html.TextBoxFor(m => m.Email, new { @class = "col-12 form-control" })
        </div>
        <div class="row justify-content-center">
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-6 m-auto p-0">
            @Html.LabelFor(m => m.Password, new { @class = "col-12 p-0 control-label" })
        </div>
        <div class="col-6 m-auto p-0">
            @Html.PasswordFor(m => m.Password, new { @class = "col-12 form-control" })
        </div>
        <div class="row justify-content-center">
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-6 m-auto p-0">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-12 p-0 control-label" })
        </div>
        <div class="col-6 m-auto p-0">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "col-12 form-control" })
        </div>
        <div class="row justify-content-center">
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-6 m-auto p-0">
            <input type="submit" class="btn btn-primary" value="Resetuj" />
        </div>
    </div>
    <div class="row justify-content-center">
        @Html.ValidationSummary("", new { @class = "text-danger" })
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
