@model Certification_System.ViewModels.AddCompanyViewModel

@{
    ViewBag.Title = "AddNewCompanyConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (ViewBag.TypeOfAction == "Update")
{
    <h2 class="alert alert-info" role="alert">Zaktualizowano wpis dotyczący przedsiębiorstwa:</h2>
}
else
{
    <h2 class="alert alert-success" role="alert">Dodano następujący wpis dotyczący przedsiębiorstwa:</h2>
}


<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfApartment)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(model => model.Email)
        </td>
        <td>
            @Html.DisplayFor(model => model.Phone)
        </td>
        <td>
            @Html.DisplayFor(model => model.Country)
        </td>
        <td>
            @Html.DisplayFor(model => model.City)
        </td>
        <td>
            @Html.DisplayFor(model => model.PostCode)
        </td>
        <td>
            @Html.DisplayFor(model => model.Address)
        </td>
        <td>
            @Html.DisplayFor(model => model.NumberOfApartment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
</table>

<p>
    @Html.ActionLink("Utwórz nowy wpis dotyczący przedsiębiorstwa", "AddNewCompany", "Companies")
    @Html.ActionLink("Przeglądaj przedsiębiorstwa", "DisplayAllCompanies", "Companies")
</p>
