@model Certification_System.DTOViewModels.DisplayCrucialDataWithCourseSummaryUserDataTableViewModel

<div class="col-12 table-responsive">
    <table id="@Model.Options.TableIdentificator" class="table table-striped table-bordered display" style="width: 100%;" role="grid">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().LastName)
                </th>
                @*@if (Model.Course.CourseEnded)
                    {
                        <th>
                            @Html.DisplayNameFor(model => model.DispensedGivenCertificates)
                        </th>
                    }*@
                @if (Model.Options.OperationSet != 0)
                {
                    <th>
                        Operacje
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => user.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.LastName)
                    </td>
                    @*@if (Model.Course.CourseEnded)
                        {
                            <td>
                                <input type="checkbox" asp-for="@Model.DispensedGivenCertificates.Where(z=> z.UserIdentificator == user.UserIdentificator).Select(z=> z.GivenCertificateIsEarned).FirstOrDefault()" data-toggle="toggle" data-on="Przyznano" data-off="Nie przyznano" data-size="sm" />
                            </td>
                        }*@
                    @if (Model.Options.OperationSet != 0)
                    {
                        <td>
                            <div class="dropdown p-0">
                                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Operacje</button>
                                <div class="dropdown-menu nohover">
                                    <a asp-action="UserDetails" asp-route-userIdentificator="@user.UserIdentificator" asp-controller="Users" class="btn btn-info w-100">Szczegóły</a>
                                    @if (!Model.Course.CourseEnded && !String.IsNullOrWhiteSpace(user.UserIdentificator))
                                    {
                                        <form asp-action="DeleteUsersFromCourse" asp-controller="Courses">
                                            <input value="@user.UserIdentificator" name="UsersToDeleteFromCourse[0].UserIdentificator" class="form-control col-12" hidden />
                                            <input value="true" name="UsersToDeleteFromCourse[0].IsToDelete" class="form-control col-12" hidden />

                                            <input value="@Model.Course.CourseIdentificator" name="CourseIdentificator" class="form-control col-12" hidden />
                                            <input type="submit" value="Usuń użytkownika z kursu" class="btn btn-danger w-100 mt-1" />
                                        </form>
                                    }

                                    @*@if (Model.Course != null)
                                    {
                                        <a asp-action="DeleteUsersFromCourse" asp-route-courseIdentificator="@Model.Course.CourseIdentificator" asp-controller="Courses" class="btn btn-danger w-100 mt-1">Usuń z kursu</a>
                                    }*@
                                </div>
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>