@using System.Linq
@using Certification_System.Entitities
@using Microsoft.AspNetCore.Identity
@model Certification_System.DTOViewModels.AccountViewModels.LoginViewModel
@inject SignInManager<CertificationPlatformUser> SignInManager
@{
    ViewData["Title"] = "Logowanie";
}

<h2>@ViewData["Title"].</h2>
<div class="row">
    <div class="col-12">
        <section id="loginForm">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <h4>Zaloguj się na swoje konto.</h4>
                <hr />

                @Html.ActionLink("Weryfikuj certyfikat", "VerifyUserOrSingleCertificateManual", "Certificates", null, new { @class = "btn btn-primary m-1" })

                <div class="col-md-6 col-xl-6 col-sm-8 col-xs-10 m-auto p-3 shadow p-3 mb-5 bg-light rounded border border-primary rounded-bottom" style="opacity:0.65">

                    <div class="form-group">
                        <div>
                            <label asp-for="Email"></label>
                        </div>
                        <div>
                            <input type="email" asp-for="Email" class="col-12 form-control border border-primary" />
                        </div>
                        <div class="row justify-content-center pl-3 pr-3">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <label asp-for="Password"></label>
                        </div>
                        <div>
                            <input type="password" asp-for="Password" class="col-12 form-control border border-primary" />
                        </div>
                        <div class="row justify-content-center pl-3 pr-3">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="checkbox col-12 p-0">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>

                    <div>
                        <div class="row justify-content-center">
                            <input type="submit" value="Zaloguj" class="btn btn-primary" />
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="row justify-content-center">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>

                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="btn btn-info">Nie posiadasz konta? Zarejestruj się.</a>
                    </p>
                    <p>
                        <a asp-action="ForgotPassword" class="btn btn-warning">Zapomniałeś hasła?</a>
                    </p>
                </div>

            </form>
        </section>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
