@using System.Linq
@using Certification_System.Entities
@using Microsoft.AspNetCore.Identity
@model Certification_System.DTOViewModels.LoginViewModel
@inject SignInManager<CertificationPlatformUser> SignInManager
@{
    ViewData["Title"] = "Logowanie";
}

<h2>@ViewData["Title"].</h2>
<div class="row">
    <div class="col-12">
        <section id="loginForm">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <h4>Zaloguj się na swoje konto.</h4>
                <hr />

                @if (!string.IsNullOrWhiteSpace(ViewBag.message))
                {
                    <h2 class="alert alert-info" role="alert">@ViewBag.message</h2>
                }

                <div class="row ml-0 mr-0 mb-2">
                    <a asp-action="VerifyCompetenceManual" asp-controller="CompetenceVerification" asp-route-returnurl="@ViewData["ReturnUrl"]" class="btn btn-primary xs450px_FloatLeft">Weryfikuj certyfikat</a>

                    <a href="http://certification-system-verification-api.azurewebsites.net/" class="btn btn-light xs450px_FloatRight">API</a>
                </div>

                <div class="col-md-6 col-xl-6 col-sm-8 col-xs-10 m-auto p-3 shadow p-3 mb-5 bg-light rounded border border-primary rounded-bottom" style="opacity:0.65">

                    <div class="form-group">
                        <div>
                            <label asp-for="Email"></label>
                        </div>
                        <div>
                            <input type="email" asp-for="Email" class="col-12 form-control border border-primary" />
                        </div>
                        <div class="row justify-content-center pl-3 pr-3">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <label asp-for="Password"></label>
                        </div>
                        <div>
                            <input type="password" asp-for="Password" class="col-12 form-control border border-primary" />
                        </div>
                        <div class="row justify-content-center pl-3 pr-3">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="checkbox col-12 p-0">
                            <div class="row pl-3 pr-3">
                                <input type="checkbox" asp-for="RememberMe" class="form-control" data-toggle="toggle" data-on="Tak" data-off="Nie" data-size="sm" />
                                <label class="control-label ml-2 mt-1">@Html.DisplayNameFor(m => m.RememberMe)</label>
                                <i class="fas fa-info mr-2 ml-auto mt-2" id="pHButton"></i>
                            </div>
                        </div>
                    </div>

                    <div asp-validation-summary="ModelOnly" class="row justify-content-center alert alert-danger validation-model"></div>

                    <div>
                        <div class="row justify-content-center">
                            <input type="submit" value="Zaloguj" class="btn btn-primary" />
                        </div>
                    </div>

                </div>

                <div class="mt-3">
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="btn btn-info mt-1">Nie posiadasz konta? Zarejestruj się.</a>
                    <a asp-action="ForgotPassword" class="btn btn-warning mt-1">Zapomniałeś hasła?</a>
                </div>

            </form>
        </section>
    </div>
</div>


<div id="passwordHelper" class="col-md-10 col-xl-8 col-lg-6 col-sm-12 col-xs-10 p-3 shadow p-3 mb-5 rounded alert alert-info rounded-bottom mt-5 ml-auto mr-auto" style="opacity:0.90;">
    <div class="row justify-content-center mb-3"><b>Dane logowania:</b></div>
    <div>
        <div class="row justify-content-center mb-3">
            <div class="col-6">
                <b>Administrator </b>
            </div>
            <div class="col-6">
                <b>Email: </b> admin.cert_sys@o2.pl <br />
                <b>Hasło: </b> Qwer!234
            </div>
        </div>

        <div class="row justify-content-center mb-3">
            <div class="col-6">
                <b>Pracodawca </b>
            </div>
            <div class="col-6">
                <b>Email: </b> company.cert_sys@mailplus.pl <br />
                <b>Hasło: </b> Qwer!234
            </div>
        </div>

        <div class="row justify-content-center mb-3">
            <div class="col-6">
                <b>Instruktor-Egzaminator </b>
            </div>
            <div class="col-6">
                <b>Email: </b> instrexam.cert_sys@mailplus.pl <br />
                <b>Hasło: </b> Qwer!234
            </div>
        </div>

        <div class="row justify-content-center mb-3">
            <div class="col-6">
                <b>Instruktor </b>
            </div>
            <div class="col-6">
                <b>Email: </b> instructor.cert_sys@mailplus.pl <br />
                <b>Hasło: </b> Qwer!234
            </div>
        </div>

        <div class="row justify-content-center mb-3">
            <div class="col-6">
                <b>Egzaminator </b>
            </div>
            <div class="col-6">
                <b>Email: </b> examiner.cert_sys@mailplus.pl <br />
                <b>Hasło: </b> Qwer!234
            </div>
        </div>

        <div class="row justify-content-center mb-3">
            <div class="col-6">
                <b>Pracownik I </b>
            </div>
            <div class="col-6">
                <b>Email: </b> worker1.cert_sys@mailplus.pl <br />
                <b>Hasło: </b> Qwer!234
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-6">
                <b>Pracownik II </b>
            </div>
            <div class="col-6">
                <b>Email: </b> worker2.cert_sys@mailplus.pl <br />
                <b>Hasło: </b> Qwer!234
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        $("#pHButton").click(function () {
            $("#passwordHelper").toggle();
        });
    </script>
}
