@model Certification_System.DTOViewModels.UserDetailsViewModel
@using Certification_System.DTOViewModels

@{
    ViewData["Title"] = "UserDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var deleteParams = new Dictionary<string, string>
{
{ "userIdentificator", Model.UserIdentificator },
{ "returnUrl", ($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")}
};
}

<h1>Szczegóły użytkownika</h1>
<hr />

@if (!string.IsNullOrWhiteSpace(ViewBag.message))
{
    <h2 class="alert alert-info" role="alert">@ViewBag.message</h2>
}

<div>

    <h2>Informacje o użytkowniku</h2>

    <div class="row m-0 mt-3 mb-3">
        <a asp-action="EditUser" asp-route-userIdentificator="@Model.UserIdentificator" asp-controller="Users" class="btn btn-warning mt-1 mr-1 xs450px_FloatLeft">Edytuj</a>
        <div class="dropdown p-0 mt-1 mr-1 xs450px_FloatLeft">
            <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Wyślij email</button>
            <div class="dropdown-menu nohover">
                <a asp-action="SendEmailConfirmationLink" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")" asp-route-userIdentificator="@Model.UserIdentificator" asp-controller="Account" class="btn btn-primary w-100 mb-1">Potwierdzenie adresu email</a>
                <a asp-action="ForceResetUserPassword" asp-route-returnUrl="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")" asp-route-userIdentificator="@Model.UserIdentificator" asp-controller="Account" class="btn btn-secondary w-100">Reset hasła</a>
            </div>
        </div>
        <i class="fas fa-times mt-1 mr-1 icon-hover xs450px_FloatLeft" data-toggle="modal" data-target="#modal"></i>
        @await Component.InvokeAsync("Modal", new { Title = "Usuwanie użytkownika", Body = "Czy na pewno chcesz usunąć tego użytkownika platformy wraz ze wszystkimi jego zależnościami ?", Action = "DeleteUserHub", Controller = "Users", Arguments = deleteParams, ButtonText = "Usuń", ButtonClass = "btn-danger" })

        <a asp-action="DisplayAllUsers" asp-controller="Users" class="btn btn-outline-info mt-1 xs450px_FloatRight">Powrót do listy użytkowników</a>
    </div>

    <form asp-action="UserDetails">

        <div class="col-md-8 col-xl-6 col-lg-6 col-sm-12 col-xs-10 m-auto p-3 shadow p-3 mb-5 bg-light rounded border border-primary rounded-bottom" style="opacity:0.90">

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control col-12" readonly />
            </div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control col-12" readonly />
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control col-12" readonly />
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control col-12" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control col-12" readonly />
            </div>

            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control col-12" readonly />
            </div>

            <div class="form-group">
                <label asp-for="PostCode" class="control-label"></label>
                <input asp-for="PostCode" class="form-control col-12" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control col-12" readonly />
            </div>

            <div class="form-group">
                <label asp-for="NumberOfApartment" class="control-label"></label>
                <input asp-for="NumberOfApartment" class="form-control col-12" readonly />
            </div>

            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control col-12" readonly />
            </div>

            <div class="form-group mb-0">
                <label asp-for="Roles" class="control-label"></label>
                <div class="row ml-0 mr-0">
                    <div>
                        @foreach (var role in Model.Roles)
                        {
                            <label class="btn btn-secondary align-content-center">
                                <span>@role</span>
                            </label>
                        }
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

<h2 class="mt-4 mb-4">Przedsiębiorstwa powiązane z użytkownikiem</h2>

<div class="mt-4 mb-4">
    <a asp-action="AddNewCompany" asp-controller="Companies" class="btn btn-primary">Dodaj nowe przedsiębiorstwo</a>
</div>

@if (Model.Companies.Count != 0)
{
    @await Component.InvokeAsync("DisplayCompanyWithUserRoleDataTable", new { companyViewModel = Model.Companies, tableIdentificator = "listCompanies", operationSet = 1 })
}
else
{
    <div class="mt-4 mb-4 alert alert-warning">Użytkownik nie jest zrzeszony z żadnym przedsiębiorstwem</div>
}

<h2 class="mt-4 mb-4">Certyfikaty użytkownika</h2>

<div class="mt-4 mb-4">
    <a asp-action="AddNewGivenCertificate" asp-controller="GivenCertificates" asp-route-userIdentificator="@Model.UserIdentificator" class="btn btn-primary mr-1">Nadaj nowy certyfikat</a>
    <a asp-action="GenerateUserPhysicalIdentificator" asp-controller="CompetenceVerification" asp-route-userIdentificator="@Model.UserIdentificator" class="btn btn-success">Generuj identyfikator użytkownika</a>
</div>

@if (Model.GivenCertificates.Count != 0)
{
    @await Component.InvokeAsync("DisplayGivenCertificateToUserDataTable", new { givenCertificateViewModel = Model.GivenCertificates, tableIdentificator = "listGivenCertificates", operationSet = 1 })
}
else
{
    <div class="mt-4 mb-4 alert alert-warning">Użytkownikowi nie przyznano żadnych certyfikatów</div>
}

<h2 class="mt-4 mb-4">Stopnie zawodowe użytkownika</h2>

<div class="mt-4 mb-4">
    <a asp-action="AddNewGivenDegree" asp-controller="GivenDegrees" class="btn btn-primary">Nadaj nowy stopień zawodowy</a>
</div>

@if (Model.GivenDegrees.Count != 0)
{
    @await Component.InvokeAsync("DisplayGivenDegreeToUserDataTable", new { givenDegreeViewModel = Model.GivenDegrees, tableIdentificator = "listGivenDegrees", operationSet = 1 })
}
else
{
    <div class="mt-4 mb-4 alert alert-warning">Użytkownikowi nie przyznano żadnych stopni zawodowych</div>
}

<h2 class="mt-4 mb-4">Kursy użytkownika</h2>

<div class="mt-4 mb-4">
    <a asp-action="AddCourseMenu" asp-controller="Courses" class="btn btn-primary">Dodaj kurs</a>
</div>

@if (Model.Courses.Count != 0)
{
    @await Component.InvokeAsync("DisplayCourseDataTable", new { courseViewModel = Model.Courses, userIdentificator = Model.UserIdentificator, tableIdentificator = "listCourses", operationSet = 2 })
}
else
{
    <div class="mt-4 mb-4 alert alert-warning">Użytkownik nie uczęszczał na żaden kurs</div>
}

@section Scripts{
    @{await Html.RenderPartialAsync("_DataTableBasicScript", new DataTableInitializationViewModel("listGivenCertificates", new int[] { }, 80, true));}
    @{await Html.RenderPartialAsync("_DataTableBasicScript", new DataTableInitializationViewModel("listGivenDegrees", new int[] { }, 80, true));}
    @{await Html.RenderPartialAsync("_DataTableBasicScript", new DataTableInitializationViewModel("listCourses", new int[] { }, 80, true));}
    @{await Html.RenderPartialAsync("_DataTableBasicScript", new DataTableInitializationViewModel("listCompanies", new int[] { }, 80, true));}
}
