@model Certification_System.DTOViewModels.DisplayExamResultDataTableViewModel

<div class="col-12 table-responsive">
    <table id="@Model.Options.TableIdentificator" class="table table-striped table-bordered display" style="width: 100%;" role="grid">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ExamsResults.FirstOrDefault().Course.CourseIndexer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExamsResults.FirstOrDefault().Course.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExamsResults.FirstOrDefault().Exam.ExamIndexer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExamsResults.FirstOrDefault().Exam.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExamsResults.FirstOrDefault().Exam.OrdinalNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExamsResults.FirstOrDefault().User.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExamsResults.FirstOrDefault().User.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExamsResults.FirstOrDefault().User.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExamsResults.FirstOrDefault().ExamResultIndexer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExamsResults.FirstOrDefault().PointsEarned)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExamsResults.FirstOrDefault().MaxAmountOfPointsToEarn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExamsResults.FirstOrDefault().PercentageOfResult)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExamsResults.FirstOrDefault().ExamPassed)
                </th>
                @if (Model.Options.OperationSet != 0)
                {
                    <th>
                        Operacje
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var examResult in Model.ExamsResults)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => examResult.Course.CourseIndexer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => examResult.Course.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => examResult.Exam.ExamIndexer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => examResult.Exam.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => examResult.Exam.OrdinalNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => examResult.User.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => examResult.User.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => examResult.User.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => examResult.ExamResultIndexer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => examResult.PointsEarned)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => examResult.MaxAmountOfPointsToEarn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => examResult.PercentageOfResult)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => examResult.ExamPassed)
                    </td>
                    @if (Model.Options.OperationSet != 0)
                    {
                        <td>
                            <div class="dropdown p-0">
                                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Operacje</button>
                                <div class="dropdown-menu">
                                    <a asp-action="UserDetails" asp-route-userIdentificator="@examResult.User.UserIdentificator" asp-controller="Users" class="btn btn-primary w-100 mb-1">Szczegóły użytkownika</a>
                                    <a asp-action="CourseDetails" asp-route-courseIdentificator="@examResult.Course.CourseIdentificator" asp-controller="Courses" class="btn btn-info w-100 mb-1">Szczegóły kursu</a>
                                    <a asp-action="ExamDetails" asp-route-examIdentificator="@examResult.Exam.ExamIdentificator" asp-controller="Exams" class="btn btn-secondary  w-100">Szczegóły egzaminu</a>
                                </div>
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>