@model Certification_System.DTOViewModels.CheckMeetingPresenceDataTableViewModel

<div class="col-12 table-responsive">
    <table id="@Model.Options.TableIdentificator" class="table table-striped table-bordered display" style="width: 100%;" role="grid">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().LastName)
                </th>
                <th>
                    Obecny/a na spotkaniu ?
                </th>
            </tr>
        </thead>
        <tbody>
            @{var UsersQuantitity = Model.Users.Count();}
            @for (int i = 0; i < UsersQuantitity; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Users.ElementAt(i).Email)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Users.ElementAt(i).FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Users.ElementAt(i).LastName)
                    </td>
                    <td>
                        @*<div class="checkbox btn btn-outline-primary">
                            <input asp-for="@Model.AttendanceList[i].IsPresent" />
                            <label asp-for="@Model.AttendanceList[i].IsPresent" hidden></label>
                            <input type="hidden" asp-for="@Model.AttendanceList[i].UserIdentificator" />
                        </div>*@

                        <input type="checkbox" asp-for="@Model.AttendanceList[i].IsPresent" data-toggle="toggle" data-on="Obecny" data-off="Nieobecny" data-size="sm" />
                        <input type="hidden" asp-for="@Model.AttendanceList[i].UserIdentificator" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

