@model Certification_System.ViewModels.AddMeetingViewModel

@{
    ViewData["Title"] = "AddNewMeetingConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="alert alert-success" role="alert">Dodano następujące spotkanie:</h2>

<table class="table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SelectedCourse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeetingIndexer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfMeeting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfApartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfApartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelectedInstructors)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.SelectedCourse)
            </td>
            <td>
                @Html.DisplayFor(model => model.MeetingIndexer)
            </td>
            <td>
                @Html.DisplayFor(model => model.Description)
            </td>
            <td>
                @Html.DisplayFor(model => model.DateOfMeeting)
            </td>
            <td>
                @Html.DisplayFor(model => model.Country)
            </td>
            <td>
                @Html.DisplayFor(model => model.City)
            </td>
            <td>
                @Html.DisplayFor(model => model.PostCode)
            </td>
            <td>
                @Html.DisplayFor(model => model.Address)
            </td>
            <td>
                @Html.DisplayFor(model => model.NumberOfApartment)
            </td>
            <td>
                @Html.DisplayFor(model => model.NumberOfApartment)
            </td>
            <td>
                <ul>
                    @foreach (var instructor in Model.SelectedInstructors)
                    {
                        <li>@instructor</li>
                    }
                </ul>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    </tbody>
</table>

<p>
    <a asp-action="AddNewMeeting" asp-controller="Meetings">Dodaj kolejne spotkanie</a>
</p>
