@model IEnumerable<Certification_System.DTOViewModels.DisplayMeetingViewModel>

@{
    ViewData["Title"] = "DisplayAllMeetings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista spotkań</h1>
<hr />

<div class="m-3">
    <a asp-action="AddNewMeeting" asp-controller="Meetings" class="btn btn-primary">Dodaj nowe spotkanie</a>
</div>

<div class="col-12 table-responsive">
    <table id="listMeetings" class="table table-striped table-bordered display" style="width: 100%;" role="grid">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MeetingIndexer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfMeeting)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfApartment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseIndexer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InstructorsCredentials)
                </th>
                <th>
                    Operacje
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var meeting in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => meeting.MeetingIndexer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => meeting.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => meeting.DateOfMeeting)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => meeting.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => meeting.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => meeting.PostCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => meeting.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => meeting.NumberOfApartment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => meeting.CourseIndexer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => meeting.CourseName)
                    </td>
                    <td>
                        <ul>
                            @foreach (var instructor in meeting.InstructorsCredentials)
                            {
                                <li>@instructor</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <a asp-action="MeetingDetails" asp-route-meetingIdentificator="@meeting.MeetingIdentificator" asp-controller="Meetings" class="btn btn-info m-1">Szczegóły</a>
                        <a asp-action="EditMeeting" asp-route-meetingIdentificator="@meeting.MeetingIdentificator" asp-controller="Meetings" class="btn btn-warning m-1">Aktualizuj</a>
                        <a asp-action="CheckUsersPresence" asp-route-meetingIdentificator="@meeting.MeetingIdentificator" asp-controller="Meetings" class="btn btn-primary m-1">Sprawdź obecność</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $('#listMeetings').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Polish.json"
                },
            }
            );
        });
    </script>
}
