@model IEnumerable<Certification_System.ViewModels.DisplayMeetingViewModel>

@{
    ViewData["Title"] = "DisplayAllMeetings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista spotkań</h1>
<hr />

<div class="m-3">
    @Html.ActionLink("Dodaj nowe spotkanie", "AddNewMeeting", "Meetings", null, new { @class = "btn btn-primary" })
</div>

<div class="col-12 table-responsive">
    <table id="listMeetings" class="table table-striped table-bordered display" style="width: 100%;" role="grid">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MeetingIndexer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfMeeting)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfApartment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseIndexer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InstructorsCredentials)
                </th>
                <th>
                    Operacje
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MeetingIndexer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfMeeting)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfApartment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseIndexer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        <ul>
                            @foreach (var instructor in item.InstructorsCredentials)
                            {
                                <li>@instructor</li>
                            }
                        </ul>
                    </td>
                    <td>
                        @Html.ActionLink("Szczegóły", "MeetingDetails", "Meetings", new { meetingIdentificator = item.MeetingIdentificator }, new { @class = "btn btn-info m-1" })
                        @Html.ActionLink("Aktualizuj", "EditMeeting", "Meetings", new { meetingIdentificator = item.MeetingIdentificator }, new { @class = "btn btn-warning m-1" })
                        @Html.ActionLink("Sprawdź obecność", "CheckUsersPresence", new { meetingIdentificator = item.MeetingIdentificator }, new { @class = "btn btn-primary m-1" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $('#listMeetings').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Polish.json"
                },
            }
            );
        });
    </script>
}
