@model Certification_System.DTOViewModels.MarkExamDataTableViewModel

<div class="col-12 table-responsive">
    <table id="@Model.Options.TableIdentificator" class="table table-striped table-bordered display" style="width: 100%;" role="grid">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().PointsEarned)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().PercentageOfResult)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().ExamPassed)
                </th>
            </tr>
        </thead>
        <tbody>
            @{var UsersQuantity = Model.Users.Count();}
            @for (int i = 0; i < UsersQuantity; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Users[i].Email)
                        <input asp-for="Users[i].Email" class="form-control col-12" readonly hidden />
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Users[i].FirstName)
                        <input asp-for="Users[i].FirstName" class="form-control col-12" readonly hidden />
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Users[i].LastName)
                        <input asp-for="Users[i].LastName" class="form-control col-12" readonly hidden />
                    </td>
                    <td>
                        <input asp-for="Users[i].PointsEarned" type="number" class="form-control col-12" id="pointsResult_@i" min="0" />
                    </td>
                    <td>
                        <input asp-for="Users[i].PercentageOfResult" value="@Model.Users[i].PercentageOfResult %" class="form-control col-12" id="percentageResult_@i" readonly/>
                    </td>
                    <td>
                        <input type="checkbox" asp-for="Users[i].ExamPassed" class="form-control col-12" data-toggle="toggle" data-on="Tak" data-off="Nie" data-size="sm" />
                        <input type="hidden" asp-for="Users[i].UserIdentificator" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
