@model Certification_System.DTOViewModels.UserIdentificatorWithQRViewModel

@{
    ViewData["Title"] = "GenerateUserPhysicalIdentificator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Wygenerowany identyfikator użytkownika</h1>
<hr />

<link href="~/css/printIdentificatorPreview.css" rel="stylesheet" />

<div class="row m-0 mt-3 mb-3">
    <button id="printButton" class="btn btn-primary mt-1 mr-1 xs350px_FloatLeft">Drukuj</button>

    @if (this.User.IsInRole("Admin"))
    {
        <a asp-action="UserDetails" asp-controller="Users" asp-route-userIdentificator="@Model.UserIdentificator" class="btn btn-outline-info mt-1 xs350px_FloatRight">Powrót do szczegółów użytkownika</a>
    }
    else if (this.User.IsInRole("Company"))
    {
        <a asp-action="CompanyWorkerDetails" asp-route-userIdentificator="@Model.UserIdentificator" asp-controller="Users" class="btn btn-outline-info mt-1 xs350px_FloatRight">Powrót do szczegółów pracownika</a>
    }
    else
    {
        <a asp-action="WorkerCompetences" asp-controller="Users" class="btn btn-outline-info mt-1 xs350px_FloatRight">Powrót do moich osiągnieć</a>
    }
</div>

<div class="row justify-content-center userPhysicalIdentificator mt-4">

    <div class="identificatorPart m-1">
        <p align="center" class="platformName"><span><b>Certification-System</b></span></p>

        <div class="img-container">
            @if (Model.UserImage != null)
            {
                <img class="frontImage" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.UserImage))" />
            }
            else
            {
                <img class="frontImage" src="~/Image/logo_ziad_big.jpg" />
            }
        </div>

        <p align="center" class="person"><b>@Model.FirstName @Model.LastName</b></p>
    </div>

    <div class="identificatorPart2 m-1">
        <p align="center"><span><b>certification-system.azurewebsites.net</b></span></p>

        <div class="img-container">
            <img class="qrCode" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.QRCode))" />
        </div>

        <p align="center" class="userIdentificatorParagraph"><b>Identyfikator</b> <br /> <span class="userIdentificatorSpan">@Model.UserIdentificator</span></p>
    </div>

</div>

<div hidden>
    <div id="userIdentificator">

        <div class="identificatorPart">
            <p align="center" class="platformName"><span><b>Certification-System</b></span></p>

            <div class="img-container">
                @if (Model.UserImage != null)
                {
                    <img class="frontImage" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.UserImage))" />
                }
                else
                {
                    <img class="frontImage" src="~/Image/logo_ziad_big.jpg" />
                }
            </div>

            <p align="center" class="person"><b>@Model.FirstName @Model.LastName</b></p>
        </div>

        <div class="pagebreak">

            <div class="identificatorPart2">
                <p align="center" class="address"><span><b>certification-system.azurewebsites.net</b></span></p>

                <div class="img-container">
                    <img class="qrCode" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.QRCode))" />
                </div>

                <p align="center"><b>Identyfikator</b> <br /> <span>@Model.UserIdentificator</span></p>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
        });

        $("#printButton").click(function () {
            $("#userIdentificator").printThis({
                importCSS: false,
                importStyle: true,
                loadCSS: ["/css/printIdentificator.css"],
                header: null,
                footer: null,
            });
        });
    </script>
}
