@model Certification_System.DTOViewModels.UserIdentificatorWithQRViewModel

@{
    ViewData["Title"] = "GenerateUserPhysicalIdentificator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Wygenerowany identyfikator użytkownika</h1>

<div class="row">
    <div class="col-md-4">


        <button id="printButton" class="btn btn-primary">Drukuj</button>

    </div>
</div>

<div hidden>
    <div id="userIdentificator">

        <div class="identificatorPart">
            <p align="center" class="platformName"><span><b>Certification-System</b></span></p>

            <div class="img-container">
                @if (Model.UserImage != null)
                {
                    <img class="frontImage" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.UserImage))" />

                }
                else
                {
                    <img class="frontImage" src="~/Image/logo_ziad_big.jpg"/>
                }
            </div>

            <p align="center" class="person"><b>@Model.FirstName @Model.LastName</b></p>
        </div>

        <div class="pagebreak"> </div>

        <div class="identificatorPart2">
            <p align="center"><span><b>certification-system.azurewebsites.net</b></span></p>

            <div class="img-container">
                <img class="qrCode" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.QRCode))" />
            </div>

            <p align="center"><b>Identyfikator</b> <br /> <span>@Model.UserIdentificator</span></p>
        </div>

    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
        });

        $("#printButton").click(function () {
            $("#userIdentificator").printThis({
                importCSS: false,
                importStyle: true,
                loadCSS: ["/css/printIdentificator.css"],
                header: null,
                footer: null,
            });
        });
    </script>
}
